[Desktop Entry]
Name=Registrér i BibOS Admin
Comment=bibos oem setup
Icon=terminal
Exec=gksudo "gnome-terminal --command=/usr/local/bin/register_new_bibos_client.sh"
Terminal=false
Type=Application
NoDisplay=false
Name=Registrér i BibOS Admin
Name[da_DK]=Registrér i BibOS Admin
Comment[da_DK.UTF-8]=register in admin system
