
[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-impress
Type=Application
Categories=Office;
Exec=libreoffice --impress %U
MimeType=application/vnd.oasis.opendocument.presentation;application/vnd.oasis.opendocument.presentation-flat-xml;application/vnd.oasis.opendocument.presentation-template;application/vnd.sun.xml.impress;application/vnd.sun.xml.impress.template;application/vnd.stardivision.impress;application/mspowerpoint;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;application/vnd.ms-powerpoint.presentation.macroenabled.12;application/vnd.openxmlformats-officedocument.presentationml.template;application/vnd.ms-powerpoint.template.macroenabled.12;
Name=LibreOffice Impress
GenericName=Presentation
GenericName[da]=Præsentation
Comment=Create and edit presentations for slideshows, meeting and Web pages by using Impress.
Comment[da]=Opret og rediger præsentationer til diasshows, møder og hjemmesider.
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
Name[da_DK]=Præsentation

[New Shortcut Group]
Name=New Presentation
Name[da]=Ny præsentation
Exec=libreoffice -impress %U
TargetEnvironment=Unity
X-KDE-Protocols=file,http,smb,ftp,webdav
