[Desktop Entry]
Name=Registrer i OS2borgerPC Admin
Comment=Registrer i admin-systemet
Exec=sudo /usr/local/bin/register_new_os2borgerpc_client.sh
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;Documentation;ConsoleOnly;
Terminal=true
X-Desktop-File-Install-Version=0.24
