[Desktop Entry]
Name=OS2borgerPC Admin
Comment=Gå til admin-systemet
Exec=firefox https://os2borgerpc-admin.magenta.dk
Icon=firefox
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.24
