[Desktop Entry]
Name=OS2borgerPC Admin
Comment=Gå til admin-systemet
Exec=firefox https://bibos-admin.magenta-aps.dk
Icon=firefox
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.24
