[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-calc
Type=Application
Categories=Office;
Exec=libreoffice --calc %U
MimeType=application/vnd.oasis.opendocument.spreadsheet;application/vnd.oasis.opendocument.spreadsheet-flat-xml;application/vnd.oasis.opendocument.spreadsheet-template;application/vnd.sun.xml.calc;application/vnd.sun.xml.calc.template;application/msexcel;application/vnd.ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-excel.sheet.macroenabled.12;application/vnd.openxmlformats-officedocument.spreadsheetml.template;application/vnd.ms-excel.template.macroenabled.12;application/vnd.ms-excel.sheet.binary.macroenabled.12;text/csv;application/x-dbf;text/spreadsheet;
Name=LibreOffice Calc
GenericName=Spreadsheet
GenericName[en]=Spreadsheet
GenericName[af]=Sigblad
GenericName[ar]=جدول بيانات
GenericName[as]=স্প্ৰেডশ্বীট
GenericName[ast]=Fueya de cálculu
GenericName[be]=Разліковы аркуш
GenericName[bg]=Електронна таблица
GenericName[bn]=স্প্রেডশীট
GenericName[br]=Renkell
GenericName[bs]=Proračunska tablica
GenericName[ca]=Full de càlcul
GenericName[ca_XV]=Full de càlcul
GenericName[cs]=Sešit
GenericName[cy]=Taenlen
GenericName[da]=Regneark
GenericName[de]=Tabellenkalkulation
GenericName[dz]=ཤོག་ཁྲམ།
GenericName[el]=Υπολογιστικό φύλλο
GenericName[en_GB]=Spreadsheet
GenericName[en_ZA]=Spreadsheet
GenericName[eo]=Kalkultabelo
GenericName[es]=Hoja de cálculo
GenericName[et]=Tabelarvutus
GenericName[eu]=Kalkulu-orria
GenericName[fa]=صفحه‌گسترده
GenericName[fi]=Taulukkolaskenta
GenericName[fr]=Classeur
GenericName[ga]=Scarbhileog
GenericName[gl]=Folla de cálculo
GenericName[gu]=સ્પ્રેડશીટ
GenericName[he]=גיליון אלקטרוני
GenericName[hi]=स्प्रेडशीट
GenericName[hr]=Proračunska tablica
GenericName[hu]=Munkafüzet
GenericName[id]=Lembar Kerja
GenericName[is]=Töflureiknir
GenericName[it]=Foglio elettronico
GenericName[ja]=表計算ドキュメント
GenericName[ka]=Spreadsheet
GenericName[km]=សៀវភៅ​បញ្ជី
GenericName[ko]=스프레드시트
GenericName[ku]=Tabloya Hesêb
GenericName[lt]=Skaičiuoklė
GenericName[lv]=Izklājlapa
GenericName[mk]=Табеларна пресметка
GenericName[ml]=സ്പ്രെഡ്ഷീറ്റ്
GenericName[mn]=Хүснэгт баримт
GenericName[mr]=स्प्रेडशीट्
GenericName[nb]=Regneark
GenericName[ne]=स्प्रेडसीट
GenericName[nl]=Werkblad
GenericName[nn]=Rekneark
GenericName[nr]=Spreadsheet
GenericName[nso]=Letlakala-kalo
GenericName[oc]=Classador
GenericName[om]=Wardii
GenericName[or]=Spreadsheet
GenericName[pa_IN]=ਸਪਰੈੱਡ ਸ਼ੀਟ
GenericName[pl]=Arkusz kalkulacyjny
GenericName[pt]=Folha de cálculo
GenericName[pt_BR]=Planilha
GenericName[qtz]=PRe3‖Spreadsheet
GenericName[ro]=Foaie de calcul
GenericName[ru]=Электронная таблица
GenericName[rw]=Urupapurotuzu
GenericName[si]=පැතුරුම්පත
GenericName[sk]=Zošit
GenericName[sl]=Preglednica
GenericName[sr]=Таблица
GenericName[ss]=Liphephacansi
GenericName[st]=Spreadsheet
GenericName[sv]=Kalkylblad
GenericName[ta]=விரிதாள்
GenericName[te]=స్ర్పెడ్ షీట్
GenericName[tg]=Spreadsheet
GenericName[th]=ตารางคำนวณ
GenericName[tn]=Spreadsheet
GenericName[tr]=Hesap Tablosu
GenericName[ts]=Spreadsheet
GenericName[ug]=ئېلېكترونلۇق جەدۋەل
GenericName[uk]=Електронна таблиця
GenericName[uz]=Elektro jadval
GenericName[ve]=Spreadsheet
GenericName[vi]=Bảng tính
GenericName[xh]=Spreadsheet
GenericName[zh_CN]=电子表格
GenericName[zh_TW]=試算表
GenericName[zu]=Ikhasi lokubala
Comment=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[en]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[af]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ar]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[as]=Calc ব্যৱহাৰ কৰি স্প্ৰেডশ্বিটসমূহত গণনাসমূহ কৰক, তথ্য বিশ্লেষণ কৰক আৰু তালিকাসমূহ ব্যৱস্থাপনা কৰক।
Comment[ast]=Facer cálculos, analizar información y editar llistes en fueyes de cálculu con Calc.
Comment[be]=Праводзьце вылічэнні, аналізуйце інфармацыю і кіруйце спісамі ў разліковых аркушах з дапамогаю Calc.
Comment[bg]=С Calc можете да извършвате изчисления, да анализирате информация и да организирате списъци в електронни таблици.
Comment[bn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[br]=Ober jedadurioù, dezrannañ stlennoù hag ardeiñ rolladoù er renkelloù dre ober gant Calc.
Comment[bs]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ca]=Feu càlculs, analitzeu informació i gestioneu llistes en fulls de càlcul amb el Calc.
Comment[ca_XV]=Feu càlculs, analitzeu informació i gestioneu llistes en fulls de càlcul amb el Calc.
Comment[cs]=Calc umožňuje vytvářet a spravovat tabulkové seznamy a provádět na těchto datech výpočty a analýzu informací.
Comment[cy]=Cyfrifo, dadansoddi data a rheoli rhestrau mewn taenlenni gan ddefnyddio Calc.
Comment[da]=Udfør beregning, analyser information og administrer lister i regneark ved brug af Calc.
Comment[de]=Berechnungen ausführen, Informationen analysieren und Listen in Tabellenform verwalten - Calc macht's möglich.
Comment[dz]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[el]=Εκτέλεση υπολογισμών, ανάλυσης πληροφοριών και διαχείρισης λιστών σε υπολογιστικά φύλλα με τη χρήση του Calc.
Comment[en_GB]=Perform calculations, analyse information and manage lists in spreadsheets using Calc.
Comment[en_ZA]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[eo]=Kalkuladi, analizi informojn kaj administri listojn en kalkultabeloj per Tabelilo.
Comment[es]=Realice cálculos, analice información y maneje listas en hojas de cálculo con Calc.
Comment[et]=Calc võimaldab arvutustabelite abiga teha arvutusi, analüüsida teavet ja hallata loendeid.
Comment[eu]=Kalkuluak egin, informazioa aztertu eta kalkulu-orrietako zerrendak kudeatu Calc erabiliz.
Comment[fa]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[fi]=Calcin avulla voit tehdä laskutoimituksia, analysoida tietoja ja hallita listoja laskentataulukoissa.
Comment[fr]=Calc - Calculs, analyses et gestion de listes dans des feuilles de calcul.
Comment[ga]=Déan ríomhaireacht, déan anailís agus bainistigh liostaí i scarbhileoga trí úsáid a bhaint as Calc.
Comment[gl]=Facer cálculos, analizar información e xestionar listas en follas de cálculo con Calc.
Comment[gu]=કૅલ્ક વડે સ્પ્રેડશીટમાં ગણતરીઓ, માહીતી પૃથ્થકરણ અને યાદીઓ બનાવો.
Comment[he]=ביצוע חישובים, ניתוח מידע וניהול רשימות בגיליונות אלקטרוניים באמצעות Calc.
Comment[hi]=कैल्क के प्रयोग से गणना करें, सूचना का विश्लेषण करें और स्प्रेडशीट में सूची प्रबंधित करें.
Comment[hr]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[hu]=Számítások végrehajtása, adatok elemzése és listák kezelése munkafüzetekben a Calc használatával.
Comment[id]=Melakukan perhitungan, analisa informasi, dan kelola daftar di lembar kerja menggunakan Calc.
Comment[is]=Gera útreikninga, greina gögn og meðhöndla lista í töflureikni með því að nota Calc.
Comment[it]=Calc può essere usato per eseguire calcoli, analizzare informazioni e gestire elenchi nei fogli elettronici.
Comment[ja]=Calc を使用して、スプレッドシートで計算を実行し、情報を分析し、リストを管理します。
Comment[ka]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[km]=ធ្វើ​ការ​គណនា​​ វិភាគ​ព័ត៌មាន និង​គ្រប់គ្រង​បញ្ជី​ក្នុង​សៀវភៅ​បញ្ជី ដោយ​ប្រើ Calc ។
Comment[ko]=Calc를 사용하여 스프레드시트에서 계산, 정보 분석 및 목록 관리를 수행합니다.
Comment[ku]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[lt]=Skaičiuokle galima atlikti įvairius skaičiavimus, analizuoti informaciją, tvarkyti sąrašus lentelėse.
Comment[lv]=Veikt aprēķinus, analizēt informāciju un pārvaldīt sarakstus izklājlapās, lietojot Calc.
Comment[mk]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ml]=കണക്കുകൂട്ടല്, കാല്ക് ഉപയോഗിച്ച് വിവരങ്ങള് അവലോകനം ചെയ്യുകയും സ്പ്രെഡ്ഷീറ്റിലെ ലിസ്റ്റ് കൈകാര്യം ചെയ്യുകയും ചെയ്യാം.
Comment[mn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[mr]=Calc चा वापर करून स्प्रेडशीट् अंतर्गत गणना, माहिती विश्लेषण व यादी व्यवस्थापीत करा.
Comment[nb]=Utfør beregninger, analyser informasjon og håndter lister i regneark ved å bruke Calc.
Comment[ne]=Calc को प्रयोगद्वारा स्प्रेडसिटहरूमा गणना कार्यसम्पादन, सूचना विश्लेषण र सूचीहरू प्रबन्ध गर्नुहोस्।
Comment[nl]=Met Calc kunt u in werkbladen berekeningen uitvoeren, gegevens analyseren en lijsten beheren.
Comment[nn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[nr]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[nso]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[oc]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[om]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[or]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[pa_IN]=ਕੈਲਸ ਦੀ ਵਰਤੋਂ ਕਰਕੇ ਸਪਰੈੱਡਸ਼ੀਟ ਨਾਲ ਗਣਨਾ, ਜਾਣਕਾਰੀ ਦੀ ਸਮੀਖਿਆ ਅਤੇ ਸੂਚੀਆਂ ਨੂੰ ਰੱਖਿਆ ਜਾ ਸਕਦਾ ਹੈ।
Comment[pl]=Przeprowadzaj obliczenia, analizuj informacje i zarządzaj listami w arkuszach kalkulacyjnych używając programu Calc.
Comment[pt]=Efetue cálculos, analise informações e faça a gestão de listas em folhas de cálculo através do Calc.
Comment[pt_BR]=Efetue cálculos, analise informações e gerencie listas em planilhas utilizando o Calc.
Comment[qtz]=LFFj‖Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ro]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ru]=Выполнение вычислений, анализ информации и управление списками в электронных таблицах с помощью Calc.
Comment[rw]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[si]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[sk]=Počítajte, analyzujte informácie a spravujte zoznamy v zošitoch s použitím Calc.
Comment[sl]=S programom Calc izvajajte računske operacije, analizirajte podatke in upravljajte sezname v preglednicah.
Comment[sr]=Изведите прорачуне, анализирајте податке и управљајте листама у таблицама уз Рачун.
Comment[ss]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[st]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[sv]=Utför beräkningar, anaysera information och hantera listor i kalkylblad med hjälp av Calc.
Comment[ta]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[te]=Calc వినియోగించి స్ర్పెడ్‌షీట్‌లలో జాబితాలను నిర్వహించును,సమాచారమును విశ్లేషించును మరియు గణలను జరుపును.
Comment[tg]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[th]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[tn]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[tr]=Calc kullanarak çalışma sayfasında performans hesaplamak, bilgi analiz etmek ve listeleri yönetmek.
Comment[ts]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ug]=Calc ئىشلىتىپ ئۇچۇر ھېسابلاش ۋە ئانالىز ئېلىپ بېرىلىدۇ ھەمدە ئېلېكترونلۇق جەدۋەلدىكى تىزىملىك باشقۇرۇلىدۇ.
Comment[uk]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[uz]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[ve]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[vi]=Dùng Calc tính toán, phân tích thông tin và quản lý danh sách trong bảng tính.
Comment[xh]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
Comment[zh_CN]=使用 Calc 进行计算、分析信息以及管理电子表格中的列表。
Comment[zh_TW]=使用 Calc 可在試算表中執行計算、分析資訊與管理清單。
Comment[zu]=Perform calculations, analyze information and manage lists in spreadsheets by using Calc.
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
[New Shortcut Group]
Name=New Spreadsheet
Name[en]=New Spreadsheet
Name[ast]=Fueya de cálculu nueva
Name[ca]=Full de càlcul nou
Name[da]=Nyt regneark
Name[de]=Neue Tabelle
Name[el]=Δημιουργία Νέου λογιστικού φύλλου
Name[es]=Hoja de cálculo nueva
Name[fi]=Uusi taulukko
Name[fr]=Nouvelle feuille de calcul
Name[gl]=Nova folla de cálculo
Name[he]=גיליון אלקטרוני חדש
Name[hr]=Nova proračunska tablica
Name[hu]=Új táblázat
Name[it]=Nuovo foglio di calcolo
Name[is]=Nýtt töflureikniblað
Name[ja]=新規シートを作成
Name[nl]=Nieuw Rekenblad
Name[pt_BR]=Nova planilha
Name[ro]=Foaie de calcul nouă
Name[ru]=Новая электронная таблица
Name[sl]=Nova preglednica
Name[te]=కొత్త స్ప్రెడ్ షీట్
Name[vi]=Bảng tính mới
Name[zh_CN]=新建表格
Name[zh_TW]=新增試算
Exec=libreoffice --calc %U
TargetEnvironment=Unity
