[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-writer
Type=Application
Categories=Office;
Exec=libreoffice --writer %U
MimeType=application/vnd.oasis.opendocument.text;application/vnd.oasis.opendocument.text-flat-xml;application/vnd.oasis.opendocument.text-template;application/vnd.oasis.opendocument.text-web;application/vnd.oasis.opendocument.text-master;application/vnd.sun.xml.writer;application/vnd.sun.xml.writer.template;application/vnd.sun.xml.writer.global;application/msword;application/vnd.ms-word;application/x-doc;application/x-hwp;application/rtf;text/rtf;application/vnd.wordperfect;application/wordperfect;application/vnd.lotus-wordpro;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/vnd.ms-word.document.macroenabled.12;application/vnd.openxmlformats-officedocument.wordprocessingml.template;application/vnd.ms-word.template.macroenabled.12;
Name=Tekstbehandling
GenericName=Word Processor
GenericName[en]=Word Processor
GenericName[af]=Woordverwerker
GenericName[ar]=معالج المستندات
GenericName[as]=Word প্ৰচেছৰ
GenericName[ast]=Procesador de testos
GenericName[be]=Тэкставы працэсар
GenericName[bg]=Текстообработка
GenericName[bn]=ওয়ার্ড প্রসেসর
GenericName[br]=Kewerier testenn
GenericName[bs]=Program za obradu teksta
GenericName[ca]=Processador de textos
GenericName[ca_XV]=Processador de textos
GenericName[cs]=Textový procesor
GenericName[cy]=Prosesydd Geiriau
GenericName[da]=Tekstbehandling
GenericName[de]=Textverarbeitung
GenericName[dz]=Word Processor
GenericName[el]=Επεξεργαστής Word
GenericName[en_GB]=Word Processor
GenericName[en_ZA]=Word Processor
GenericName[eo]=Verkilo
GenericName[es]=Procesador de texto
GenericName[et]=Tekstitöötlus
GenericName[eu]=Testu prozesatzailea
GenericName[fa]=واژه‌پرداز
GenericName[fi]=Tekstinkäsittely
GenericName[fr]=Traitement de texte
GenericName[ga]=Próiseálaí Focal
GenericName[gl]=Procesador de textos
GenericName[gu]=વર્ડ પ્રોસેસર
GenericName[he]=מעבד תמלילים
GenericName[hi]=वर्ड प्रोसेसर
GenericName[hr]=Program za obradu teksta
GenericName[hu]=Szövegszerkesztő
GenericName[id]=Pengolah Kata
GenericName[is]=Ritvinnsluforrit
GenericName[it]=Elaboratore di testo
GenericName[ja]=ワードプロセッサ
GenericName[ka]=Word Processor
GenericName[km]=កម្មវិធី​វាយ​អត្ថបទ
GenericName[ko]=워드 프로세서
GenericName[ku]=Kiryarê Peyvan
GenericName[lt]=Tekstų rengyklė
GenericName[lv]=Tekstapstrādes programma
GenericName[mk]=Обработка на текст
GenericName[ml]=വേര്‍ഡ് പ്രൊസസ്സര്‍
GenericName[mn]=Ворд боловсруулагч
GenericName[mr]=वर्ड प्रोसेसर
GenericName[nb]=Skriveprogram
GenericName[ne]=वर्ड प्रोसेसर
GenericName[nl]=Tekstverwerker
GenericName[nn]=Teksthandsamar
GenericName[nr]=Word Processor
GenericName[nso]=Sebopi sa mantšu
GenericName[oc]=Tractament de tèxte
GenericName[om]=Hujeessaa Jecha
GenericName[or]=ଶବ୍ଦ ସଞ୍ଚାଳକ
GenericName[pa_IN]=ਵਰਡ ਪਰੋਸੈਸਰ
GenericName[pl]=Word Processor
GenericName[pt]=Processador de texto
GenericName[pt_BR]=Editor de texto
GenericName[qtz]=Qgym‖Word Processor
GenericName[ro]=Procesor de text
GenericName[ru]=Текстовый процессор
GenericName[rw]=Musesenguramagambo
GenericName[si]=ලිපි සකසනය
GenericName[sk]=Textový procesor
GenericName[sl]=Urejevalnik besedila
GenericName[sr]=Уређивач текста
GenericName[ss]=Word Processor
GenericName[st]=Word Processor
GenericName[sv]=Ordbehandlare
GenericName[ta]=சொற்செயலி
GenericName[te]=వర్డ్ ప్రాసెసర్
GenericName[tg]=Word Processor
GenericName[th]=Word Processor
GenericName[tn]=Word Processor
GenericName[tr]=Kelime İşlemci
GenericName[ts]=Word Processor
GenericName[ug]=يېزىق بىر تەرەپ قىلىش
GenericName[uk]=Текстовий процесор
GenericName[uz]=Matn protsessori
GenericName[ve]=Word Processor
GenericName[vi]=Xử lý từ
GenericName[xh]=Word Processor
GenericName[zh_CN]=字处理器
GenericName[zh_TW]=文書處理器
GenericName[zu]=Word Processor
Comment=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[en]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[af]=Skep en redigeer teks en grafika in briewe, verslae, dokumente en webbladsye met Writer.
Comment[ar]=إنشاء النصوص والرسومات في الخطابات، والتقارير، والمستندات وصفحات ويب وتحريرها باستخدام Writer.
Comment[as]=Writer ব্যৱহাৰ কৰি চিঠি, সংবাদ, দস্তাবেজ আৰু পৃষ্ঠাবোৰত থকা লিখনী আৰু গ্ৰাফিক্স সৃষ্টি আৰু সম্পাদনা কৰক।
Comment[ast]=Crear y editar testos y gráficos de cartes, informes, documentos y páxines Web usando Writer.
Comment[be]=Стварайце і рэдагуйце тэкст і графіку ў лістах, справаздачах, дакументах і старонках Сеціва з дапамогаю Writer-а.
Comment[bg]=С Writer можете да създавате и редактирате текст и графики в писма, отчети, документи и уебстраници.
Comment[bn]=রাইটার ব্যবহার করে চিঠিপত্র, রিপোর্ট, নথি এবং ওয়েবপেজের লেখা ও ছবি তৈরি এবং সম্পাদনা করুন।
Comment[br]=Writer - Krouiñ hag embann testennoù ha skeudennoù evit lizhiri, danevelloù, teulioù ha pajennoù Web.
Comment[bs]=Kreiranje i uređivanje teksta i grafike u pismima, izvještajima, dokumentima i Web stranicama koristeći Writer.
Comment[ca]=Creeu i editeu textos i gràfics en cartes, informes, documents i pàgines web amb el Writer.
Comment[ca_XV]=Creeu i editeu textos i gràfics en cartes, informes, documents i pàgines web amb el Writer.
Comment[cs]=Writer umožňuje vytvářet a upravovat text a grafiku v dopisech, sestavách, dokumentech a webových stránkách.
Comment[cy]=Creu a golygu testun a graffigau mewn llythyron, adroddiadau, dogfennau a thudalennau Gwe gyda Writer.
Comment[da]=LibreOffice-tekstdokument
Comment[de]=Erstellen und bearbeiten von Text und Grafiken in Briefen, Reports, Dokumenten und Web-Seiten - Writer macht's möglich.
Comment[dz]=རྩོམ་འབྲི་པ་ལག་ལེན་འཐབ་ཐོག་ལས་ ཝེབ་པེཇི་དང་ ཡིག་ཆའི་རིགས་ སྙན་ཞུའི་རིགས་ ཡི་གུའི་རིགས་ཚུ་ནང་ལུ་ ཚིག་ཡིག་དང་ཚད་རིས་ཚུ་བཟོ་ནི་དང་ཞུན་དག་རྐྱབ་ནི།
Comment[el]=Δημιουργία και επεξεργασία κειμένου και γραφικών σε επιστολές, αναφορές, έγγραφα και ιστοσελίδες με τη χρήση του Writer.
Comment[en_GB]=Create and edit text and graphics in letters, reports, documents and Web pages using Writer.
Comment[en_ZA]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[eo]=Krei kaj redakti tekston kaj grafikaĵojn en leteroj, raportoj, dokumentoj kaj TTT-paĝoj per Verkilo.
Comment[es]=Cree y edite texto y gráficos en cartas, informes, documentos y páginas Web con Writer.
Comment[et]=Writer võimaldab luua ja redigeerida kirjade, aruannete, dokumentide ning veebilehtede teksti ja pilte.
Comment[eu]=Testua eta grafikoak sortu eta editatu gutunetan, txostenetan, dokumentuetan eta web orrietan Writer erabiliz.
Comment[fa]=با استفاده از کاتب، متن و گرافیک نامه‌ها، گزارش‌ها، نوشتارها و صفحات وب را ایجاد یا ویرایش کنید.
Comment[fi]=Luo ja muokkaa tekstiä ja grafiikkaa kirjeisiin, raportteihin, tekstiasiakirjoihin ja internet-sivuihin Writer-ohjelmalla.
Comment[fr]=Writer - Création et édition de textes et d'images pour courriers, rapports, documents et pages Web.
Comment[ga]=Cruthaigh téacs agus grafaicí i litreacha, tuairiscí, cáipéisí, agus leathanaigh Ghréasáin le Writer.
Comment[gl]=Crear e editar texto ou imaxes en cartas, informes, documentos e páxinas web usando Writer.
Comment[gu]=લખાણ દ્દારા પત્રો, અહેવાલો, દસ્તાવેજો અને વેબ પાનાઓમાં લખાણ અને ચિત્રો બનાવો અને સુઘારો.
Comment[he]=יצירה ועריכה של טקסט וגרפיקה במכתבים, דוחות, מסמכים ודפי אינטרנט באמצעות Writer.
Comment[hi]=लेखक के प्रयोग से पत्र, रिपोर्ट, दस्तावेज़ में पाठ और आरेख बनाता है और संपादित करता है.
Comment[hr]=Stvorite i uredite tekst i slike u pisma, izvješćima, dokumentima i web stranicama.
Comment[hu]=Levelek, jelentések, dokumentumok és weboldalak szövegének és grafikájának létrehozása és szerkesztése a Writer használatával.
Comment[id]=Mengolah teks dan gambar pada surat, laporan, dokumen, dan halaman Web menggunakan Writer.
Comment[is]=Búa til og breyta texta og myndefni í bréfum, skýrslum, skjölum og vefsíðum með því að nota Writer.
Comment[it]=Usando Writer, potete creare e modificare il testo e le immagini di lettere, rapporti, documenti e pagine Web.
Comment[ja]=Writer を使用して、レター、レポート、ドキュメントおよび Web ページのテキストおよび図を作成および編集します。
Comment[ka]=ქმნის და ასწორებს დოკუმენტებსა და დიაგრამებს წერილებში, მოხსენებებში, დოკუმენტებში და ვებ-გვერდებში Writer-ის მეშვეობით.
Comment[km]=បង្កើត និង​កែ​សម្រួល​អត្ថបទ និង​ក្រាហ្វិក​ក្នុង​សំបុត្រ របាយការណ៍ ឯកសារ និង​ទំព័រ​បណ្តាញ​ដោយ​ប្រើ Writer ។
Comment[ko]=Writer를 사용하여 편지, 보고서, 문서 및 웹 페이지에서 텍스트와 그림을 만들고 편집할 수 있습니다.
Comment[ku]=Nivîs û grafîkên di name, rapor, belge û rûpelên torê de bî Writerê çêbike û sererast bike.
Comment[lt]=Tekstų rengykle galima kurti laiškus, ataskaitas, kitus dokumentus ir tinklalapius, įterpti į juos paveikslus.
Comment[lv]=Veidot un rediģēt tekstu un grafisku vēstulēs, atskaitēs, dokumentos un tīmekļa lapās, lietojot Writer.
Comment[mk]=Креирајте и уредувајте текст и графика во писма, извештаи, документи и веб-страници со користење на Writer.
Comment[ml]=റൈറ്റര് ഉപയോഗിച്ച്  കത്തുകളിലെയും റിപ്പോര്ട്ടുകളിലെയും ഡോക്കുമെന്റിലെയും വെബ് പേജിലെയും  ടെക്സ്റ്റും ഗ്രാഫിക്സും സൃഷ്ടിക്കുകയും എഡിറ്റു ചെയ്യുകയും ചെയ്യുക.
Comment[mn]=Writer ашиглан захиа, тайлан, баримт дахь бичвэр ба график үүсгэх болон засварлах.
Comment[mr]=Writer चा वापरून पत्रं, अहवाल, दस्तऐवज व वेब पान अंतर्गत पाठ्य व चित्रलेख बनवा व संपादीत करा.
Comment[nb]=Opprett og rediger tekst og bilder i brev, rapporter, dokumenter og nettsider ved å bruke Writer.
Comment[ne]=लेखकको प्रयोगद्वारा चिठ्ठीहरू, प्रतिवेदनहरू, कागजातहरू र वेब पृष्ठहरूमा पाठ तथा ग्राफिक्स सिर्जना तथा सम्पादन गर्नुहोस् ।
Comment[nl]=Met Writer kunt u tekst en afbeeldingen in brieven, rapporten, documenten en webpagina's maken en bewerken.
Comment[nn]=Med Writer kan du laga og redigera tekst og bilete i brev, rapportar, dokument og nettsider.
Comment[nr]=Enza nokuhlela itheksti neentjengiso eziseencwadini, emibikweni, emitlolweni nemakhasini weWebh ngokusebenzisa i-Writer.
Comment[nso]=Hlama le go lokiša sengwalwa le dikrafiki mangwalong, dipegong, ditokumenteng le matlakaleng a wepe ka go diriša Writer.
Comment[oc]=Writer - Creacion e edicion de tèxtes e d'imatges per corrièrs, rapòrts, documents e paginas Web.
Comment[om]=Bareessaa fayyadamuun xalayaalee, gabasota, galmeewwanii fi fuulota saphaphuu irratti barruu fi saxxatoo uumi, gulaali.
Comment[or]=ରାଇଟର ଉପୟୋଗ କରି ପତ୍ରଗୁଡିକରେ, ରିପୋର୍ଟରେ,ଦଲିଲଗୁଡିକରେ ଏବଂ ଉଏବ୍ ପୃଷ୍ଠାଗୁଡିକରେ ଟେକ୍ସଟ ଏବଂ ଲେଖାଚିତ୍ରଗୁଡିକୁ ସୃଷ୍ଟି ଏବଂ ସମ୍ପାଦନ କରନ୍ତୁ।
Comment[pa_IN]=ਰਾਇਟਰ ਨਾਲ ਪੱਤਰਾਂ, ਰਿਪੋਰਟਾਂ, ਡੌਕੂਮੈਂਟਾਂ ਅਤੇ ਵੈੱਬ ਸਫ਼ਿਆਂ ਵਿੱਚ ਟੈਕਸਟ ਅਤੇ ਚਿੱਤਰ ਬਣਾਏ ਅਤੇ ਸੋਧੇ ਜਾ ਸਕਦੇ ਹਨ।
Comment[pl]=Twórz i edytuj listy, raporty, dokumenty i strony www wykorzystując program Writer.
Comment[pt]=Criar e editar texto e objetos gráficos em cartas, relatórios, documentos e páginas web através do Writer.
Comment[pt_BR]=Crie e edite textos e figuras em cartas, relatórios, documentos e páginas da Web por meio do Writer.
Comment[qtz]=seqx‖Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[ro]=Creați și editați text și grafică în scrisori, rapoarte, documente și pagini web folosind Writer.
Comment[ru]=Создание и редактирование текста и рисунков в письмах, отчётах, документах или веб-страницах.
Comment[rw]=Kurema no guhindura umwandiko n'ibishushanyo mu mabaruwa, raporo, inyandiko na paji Rubuga ukoresheje Writer.
Comment[si]=Writer භාවිතා කරමින් ලිපි වල පෙළ සහ චිත්‍රක, වාර්තා, ලිපි සහ වියුණු පිටු සාදන්න සහ වෙනස් කරන්න.
Comment[sk]=Vytvárajte a upravujte textové a grafické listy, správy, dokumenty a webové stránky s použitím Writer.
Comment[sl]=S programom Writer ustvarjajte in urejajte besedilo in slike v pismih, poročilih, dokumentih in spletnih straneh.
Comment[sr]=Пишите и уређујте текст и графику у писмима, извештајима и веб страницама у Писцу.
Comment[ss]=Yakha u-edithe umbhalo nemagrafiki etincwadzini, umbiko, wemadokhumenti nemapheji eWebhu ngekusebentisa Writer.
Comment[st]=Bopa le ho lokisa mongolo le ditshwantsho mangolong, ditlalehong, ditokomaneng le maqepheng a Wepe ka ho sebedisa Writer.
Comment[sv]=Skapa och redigera text och grafik i brev, rapporter, dokument och webbsidor med hjälp av Writer.
Comment[ta]=கடிதங்கள், அறிக்கைகள், ஆவணங்கள், வலைப்பக்கங்கள் ஆகியவற்றின் உரை, படங்கள் இவற்றை உருவாக்கவும் தொகுக்கவும் ரைட்டரைப் பயன்படுத்துக.
Comment[te]=పత్రము మరియు లేఖ యొక్క చిత్రరూపములు,నివేదనలు,పత్రములు మరియు వ్రాయు యంత్రమును ఉపయోగించిన వెబ్  పుటలును నిర్మించి సరిచేయుము. 
Comment[tg]=Бо ёрии Writer матн ва тасвир сохтан, онҳоро ислоҳ кардан мумкин аст.
Comment[th]=สร้างและแก้ไขข้อความและกราฟิกส์ในจดหมาย รายงาน เอกสาร และหน้าเว็บโดยการใช้ Writer
Comment[tn]=Create and edit text and graphics in letters, reports, documents and Web pages by using Writer.
Comment[tr]=Writer kullanarak mektuplardaki metin ve grafikleri, rapor, belge ve Web sayfaları oluşturabilir ve düzenleyebilirsiniz.
Comment[ts]=Cinca ni ku lulamisa marito ni vudirowi eka mapapila, swiviko, tidokumente ni tipheji ta Web hi ku tirhisa Writer.
Comment[ug]=Writer ئىشلىتىپ خەت-چەك، دوكلات جەدۋىلى، پۈتۈك ۋە تور بەتتىكى تېكست ۋە گرافىكلارنى قۇرۇپ تەھرىرلىگىلى بولىدۇ.
Comment[uk]=Створення та редагування тексту та графіки у листах, звітах, документах та веб-сторінках.
Comment[uz]=Writer yordamida hisobotlar, matn hujjatlari, veb sahifalar yaratish va tahrirlash.
Comment[ve]=Vhumbani ni dovhe ni lulamise ḽiṅwalwa na dzigirafiki kha maṅwalo, mivhigo, maṅwalo na masiaṱari a Web nga u shumisa Writer.
Comment[vi]=Tạo và sửa văn bản và đồ họa trong lá thư, báo cáo, tài liệu và trang Web bằng Writer.
Comment[xh]=Dala uze uhlele isiqendu nezazobe zegrafu ezileteni, iingxelo, amaxwebhu namakhasi Othungelwano ngokusebenzisa i-Writer.
Comment[zh_CN]=使用 Writer 创建并编辑信函、报表、文档和网页中的文本和图形。
Comment[zh_TW]=使用 Writer 可以在信件、報告、文件和網頁中建立與編輯文字和圖形。
Comment[zu]=Yenza futhi ulungise umbhalo nemidwebo esezinhlamvini zamagama, emibikweni, emafayelini nasemakhasini eWebhu ngokusebenzisa i-Writer.
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
[New Shortcut Group]
Name=New Document
Name[en]=New Document
Name[ast]=Documentu nuevu
Name[ca]=Document nou
Name[da]=Nyt dokument
Name[de]=Neues Dokument
Name[es]=Documento nuevo
Name[el]=Νέο έγγραφο
Name[fi]=Uusi tekstiasiakirja
Name[fr]=Nouveau document
Name[gl]=Novo documento
Name[he]=מסמך חדש
Name[hr]=Novi dokument
Name[hu]=Új dokumentum
Name[it]=Nuovo documento
Name[is]=Nýtt textaskjal
Name[ja]=新規文書を作成
Name[ku]=Belgeya nû
Name[nl]=Nieuw Document
Name[pt_BR]=Novo documento
Name[ro]=Document nou
Name[ru]=Новый документ
Name[sl]=Nov dokument
Name[te]=కొత్త పత్రం
Name[vi]=Tài liệu mới
Name[zh_CN]=新建文档
Name[zh_TW]=新增文件
Exec=libreoffice --writer %U
TargetEnvironment=Unity
