[Desktop Entry]
Name=OS2borgerPC Admin
Name[sv]=Sambruk MedborgarPC Admin
Comment=Gå til admin-systemet
Comment[sv]=Gå till adminsystemet
Exec=firefox $(sudo get_os2borgerpc_config admin_url)
Icon=/snap/firefox/current/default256.png
Type=Application
Terminal=false
X-Desktop-File-Install-Version=0.24
