[Desktop Entry]
Name=Registrer i OS2borgerPC Admin
Name[sv]=Registrera dator i MedborgarPC Admin
Comment=Registrer i admin-systemet
Comment[sv]=Registrera dator i adminsystemet
Exec=sudo /usr/local/bin/install_client_and_register.sh
Icon=org.gnome.Terminal
Type=Application
Categories=Utility;Documentation;ConsoleOnly;
Terminal=true
X-Desktop-File-Install-Version=0.24
