[Desktop Entry]
Name=bibos-postinstall
Comment=bibos oem setup
Icon=
Exec=gksudo "gnome-terminal --command=/usr/share/bibos/bin/bibos-postinstall.sh"
Terminal=false
Type=Application
NoDisplay=true
